.prod-list-spinner{
    display: block;
    margin: auto;
}

.prod-img{
    width: 20%;
}

.prod-sort{
    cursor: pointer;
}

.prod-filter{
    margin-left: 20px;
    cursor: pointer;
}